<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.fenyx4.arkham"
      android:versionCode="2"
      android:versionName="1.01">
    <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".GUI.LocationList">
            
        </activity>
        <activity android:label="Encounter" android:name=".GUI.EncounterActivity"></activity>
        <activity android:label="Arkham Companion" android:name=".GUI.ExpansionSelector" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GUI.NeighborhoodSelector" android:label="Neighborhood" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".GUI.LocationDeckActivity" android:label="LocationDeck"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:screenOrientation="portrait"></activity>
        <activity android:name=".GUI.LocationHxActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="LocationHx"></activity>
        <activity android:name=".GUI.OtherWorldDeckActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="OtherWorldDeck"></activity>
        <activity android:name=".GUI.OtherworldSelector" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="OtherWorldSelector"></activity>
        <activity android:name=".GUI.AboutActivity" android:label="About"></activity>

    </application>


</manifest> 